@{
    ViewBag.Title = "About";
    ViewBag.viewMessage = "Acerca de..";
}

<h2>Acerca de Nosotros</h2>

<p>Esta aplicación a sido realizada por el equipo de desarrollo de Cidicom S.A.</p>
<p>Ante cualquier consulta comuniquese al ....</p>
